@using System.Reflection
@using RebelCms.Cms.Web;

<div id="header" class="clearfix">
    <div class="right">
        @using (Html.BeginForm("Logout", "Default", FormMethod.Post))
        {
            <button class="logout">
                <span>Logout</span>
            </button>
        }
        @*<button class="help">
            <span>
                Help</span>
        </button>
        *@
        <button class="about">
            <span>About</span>
        </button>
    </div>
    <div class="left">        
       @* <button class="create">
            <span>
                Create</span>
        </button>*@
        @Html.Partial("SearchPartial", new RebelCms.Cms.Web.Model.BackOffice.SearchModel())
    </div>
</div>

<div style="display: none;">
    <div id="about">
        <img src="@Url.Content("~/Areas/RebelCms/Content/Images/login-header.png")" alt="RebelCms 5" />
        <p>@RebelCmsWebApplication.ProductVersionInfo (Assembly version: @RebelCmsWebApplication.ProductVersion)</p>
        <p>Copyright &copy; 2001 - @DateTime.Today.Year RebelCms / Niels Hartvig</p>
        <p>Developed by the <a href="http://our.RebelCms.org/wiki/about/core-team?ver=@RebelCmsWebApplication.ProductVersion&amp;ref=@RebelCmsWebApplication.ProductVersionInfo" target="_blank">RebelCms Core Team</a></p>
        <p>RebelCms is licensed under the <a href="http://RebelCms.com/products/license?ver=@RebelCmsWebApplication.ProductVersion&amp;ref=@RebelCmsWebApplication.ProductVersionInfo" target="_blank">open source license MIT</a></p>
        <p>Visit <a href="http://RebelCms.com/?ver=@RebelCmsWebApplication.ProductVersion&amp;ref=@RebelCmsWebApplication.ProductVersionInfo" target="_blank">RebelCms.com</a> for more information.</p>
        <p><a href="http://www.famfamfam.com/lab/icons/silk/" target="_blank">Silk icons</a> by <a href="http://www.famfamfam.com" target="_blank">FamFamFam</a></p>
        <p><br />Dedicated to Gry, August, Villum and Oliver!</p>
    </div>
</div>