@inherits RebelCms.Cms.Web.Dashboards.DashboardViewPage
@{
    Html.RequiresJs("WebToolkit/webtoolkit.md5.js", "Scripts");
    Html.RequiresJs(Url.GetPluginsFolder() + "/Core/Scripts/Dashboards.js");         
       
}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            RebelCms.Editors.Dashboards.init({
                userId: "@Context.User.Identity.Name",
                dashboardSelector: $("#dashboardStartHere")
            });
        });
    })(jQuery);
</script>
<div class="property-pane" id="dashboardStartHere">
    <div>
        <div class="propertyItem clearfix" style="width: 100%">
            <a data-bind="click:hide, visible: isVisible() == true" class="dashboard-hide-link">
                - Hide</a> <a data-bind="click:show, visible: isVisible() == false" class="dashboard-hide-link">
                    + Show</a>
            <div class="dashboard-wrapper">
                <h3 data-bind="visible: isVisible() == false" style="margin: 4px 0;">
                    Start Here</h3>
                <div data-bind="visible: isVisible">
                    <h2>
                        Start Here</h2>
                    <img src="@Url.Content(@Url.GetBackOfficeFolder() + "/Content/Images/logo-small.png")" alt="RebelCms" class="dashboard-icon">
                    <h3>
                        You are now using RebelCms (a fork of Umbraco 5).</h3>
                    <p>
                        Our mission is to provide a Content Management System that is easy to use, easy
                        to customise and can adapt itself to the small business and large corporation needs.
                        <br />
                        <br />
                        It should be simple to use, yet provide a robust API under the hood for seasoned
                        professionals. It should be up to date with current technologies and it should encourage
                        TDD and best practices.
                    </p>
                    <h3>
                        Find out more:</h3>
                    <div class="dashboard-col-wrapper">
                        <div class="dashboard-cols">
                            <div class="dashboard-col third">
                                <h3>
                                    Our long term road map:</h3>
                                <ul>
                                    <li>Performance issues solved</li>
                                    <li>Start dealing with <a href="http://issues.umbraco.org/issues/U5">the backlog</a></li>
                                    <li>A new responsive admin User Interface</li>
                                    <li>REST API</li>
                                    <li>Heroku and AppHarbour support</li>
                                    <li>Mono support</li>
                                    <li>Continued development and support for "Umbraco 5" supporters</li>
                                </ul>
                            </div>
                            <div class="dashboard-col third">
                                <h3>
                                    Contact Us</h3>
                                <ul>
                                    <li>We have a new forum: <a href="http://forum.rebelcms.com">forum</a></li>
                                    <li>Follow us on Twitter: <a href="http://twitter.com/rebel_cms">@Html.Encode("@rebel_cms")</a></li>
                                    <li>Contribute on GitHub: <a href="https://github.com/RebelCMS">github.com/RebelCMS</a></li>
                                    <li>Email us at: <a href="mailto:info@rebelcms.com">info@rebelcms.com</a></li>
                                </ul>
                            </div>
                            <div class="dashboard-col third last">
                                <h3>
                                    Get support</h3>
                                <ul>
                                    <li>Ask a question in the <a href="http://forum.rebelcms.com?ver=@RebelCmsWebApplication.ProductVersion&amp;ref=@RebelCmsWebApplication.ProductVersionInfo" target="_blank">
                                        Community Forum</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
