@inherits PartialViewMacroPage

@using Rebel.Cms.Web
@using Rebel.Cms.Web.Macros
@using Rebel.Framework

@foreach (var item in CurrentPage.Children)
{
    var childName = item.Name ?? "(No name yet)";
    <div class="product">
        <h3><a href="@item.Url">@childName</a></h3>
        <a href="@item.Url"><img src="@item.Image.Url(100)" alt="@childName" /></a>
        <p>@(((string)item.AsDynamic().BodyText).StripHtml().Truncate(100)) <a href="@item.Url">Read more</a></p>
    </div>
}